
.cart-no {
  position: absolute;
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
  font-size: .6em;
  background-color: black;
  border: 2px solid white;
  outline: 1px solid black;
  box-shadow: 1px 1px 2px black;
  color: white;
  text-align: center;
  top: -2px;
  right: 40px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }
}

.logo {
  cursor: pointer;
}

.logout:hover {
  background-color: red;
  color: white;
}
