<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 border-bottom shadow-sm fixed-top bg-white">
  <img class="logo" src="/assets/images/Logo.svg" style="max-height: 40px;" alt="logo" routerLink="/">
  <nav class="my-2 mt-md-3 text-uppercase" style="font-size: larger;">
    <a class="me-3"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{  exact: true }"
      >Home</a>
    <a class="me-3" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="me-3" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" href="#" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
        {{ getCount(basket.items) }}
      </div>
    </a>
    <a class="btn btn-outline-secondary me-3" href="#">Login</a>
    <a class="btn btn-outline-secondary me-2" href="#">Sign Up</a>
  </div>
</div>
